{% include "./top.html" %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!--<link href="/static/metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css"
      rel="stylesheet" type="text/css"/>-->
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/static/metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="/static/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
<!-- END THEME GLOBAL STYLES -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<!--<script src="/static/metronic/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"
        type="text/javascript"></script>-->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!--<script src="/static/metronic/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>-->
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN SPREADJS -->
<link rel="stylesheet" href="/static/spread.sheets/css/gc.spread.sheets.excel2013white.11.0.0.css">
<script type="text/javascript" src="/static/spread.sheets/js/gc.spread.sheets.all.11.0.0.min.js"></script>
<script type="text/javascript" src="/static/spread.sheets/js/gc.spread.sheets.resources.zh.11.0.0.min.js"></script>
<!-- END SPREADJS -->
<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
        width: 99.5%;
        height: 95%;
    }
    #lzBtn-grounp {
        margin: 10px 10px;
    }

    #lzBtn-grounp .btn {
        width: 100px
    }
</style>
<input type="hidden" id="_hsatid" value="{{sat._id}}"/>
<input type="hidden" id="_hsatname" value="{{sat.name}}"/>
<div id="lzBtn-grounp">
    <div class="clearfix">
        <button id="btnRefrash" type="button" data-loading-text="Loading..." class="demo-loading-btn btn btn-primary"><i class="fa fa-refresh"></i>&nbsp&nbsp刷新</button>
        <button id="btnAdd" type="button" data-loading-text="Loading..." class="demo-loading-btn btn btn-primary" disabled><i class="fa fa-plus"></i>&nbsp&nbsp添加</button>
        <button id="btnDelet" type="button" data-loading-text="Loading..." class="demo-loading-btn btn red" disabled><i class="fa fa-remove"></i>&nbsp&nbsp删除</button>
        <button id="bteidt" type="button" data-loading-text="Loading..." class="demo-loading-btn btn red"><i class="fa fa-lock"></i>&nbsp&nbsp锁定</button>
        <button id="btsave" type="button" data-loading-text="Loading..." class="demo-loading-btn btn btn-primary"><i class="fa fa-save"></i>&nbsp&nbsp保存</button>
        <button id="btnPosition" type="button" data-loading-text="Loading..." class="demo-loading-btn btn blue" style="display:none">位置信息</button>
        <button id="btnProcess" type="button" data-loading-text="Loading..." class="demo-loading-btn btn blue" style="display:none">方法</button>
    </div>
</div>
<div class="sample-tutorial" style="width:100%;height:100%">
    <div id="parameter" style="width:100%;height:100%;border:1px solid #767676"></div>
</div>
<script type="text/javascript">
  var spreadNS = GC.Spread.Sheets;
  var spread = new GC.Spread.Sheets.Workbook(document.getElementById('parameter'));
  var sheet = spread.getSheet(0);
  $(function() {
    initSpread(spread);
    //添加行
    $('#btnAdd').click(function() {
      var irow = sheet.getDataSource().length;
      sheet.addRows(irow, 1);
      var customFormatterTest = {};
      customFormatterTest.prototype = GC.Spread.Formatter.FormatterBase;
      customFormatterTest.format = function(obj, conditionalForeColor) {
        conditionalForeColor.value = 'blue';
        return obj.toString();
      };
      customFormatterTest.parse = function(str) {
        if (!str) {
          return '';
        }
        return str;
      };
      sheet.getCell(irow, 3).formatter(customFormatterTest);
      sheet.getCell(irow, 6).formatter(customFormatterTest);
    });
    //刷新
    $('#btnRefrash').click(function() {
      var cellStyle2 = new spreadNS.Style();
      cellStyle2.backColor = undefined;
      var dataEdit = sheet.getDirtyRows();
      for(var i=0;i<dataEdit.length;i++){
        sheet.getCell(dataEdit[i].row, -1, GC.Spread.Sheets.SheetArea.rowHeader).backColor(undefined);
        for(var j=0;j<24;j++){
          sheet.setStyle(dataEdit[i].row, j, cellStyle2, spreadNS.SheetArea.viewport);
        }
      }
      loaddata(spread);
    });
    //删除行
    $('#btnDelet').click(function() {
      DeleateRow(spread);
    });
    // 解锁
    $('#bteidt').click(function() {
    /*  var data=sheet.getDataSource();
      if(data.length==0){
        sheet.options.isProtected =false;
        $("#btnAdd").attr("disabled", false);
        $("#btnDelet").attr("disabled", false);
        $(this).html('<i class="fa fa-edit"></i>&nbsp&nbsp编辑').removeClass('red').addClass('btn-primary');
        showMessageNomal('进入编辑模式，请谨慎操作');
        isLock=0;
      }else */
        if(isLock==1){
        $("#btnAdd").attr("disabled", false);
        $("#btnDelet").attr("disabled", false);
        sheet.getRange(-1,0, -1, 1).locked(false);
        sheet.getRange(-1,3, -1, 4).locked(false);
        sheet.getRange(-1,8, -1, 3).locked(false);
        sheet.getRange(-1,13, -1, 5).locked(false);
        sheet.getRange(-1,19, -1, 1).locked(false);
        sheet.getRange(-1,21, -1, 3).locked(false);
        $(this).html('<i class="fa fa-edit"></i>&nbsp&nbsp编辑').removeClass('red').addClass('btn-primary');
        showMessageNomal('进入编辑模式，请谨慎操作');
        isLock=0;
      }else if(isLock==0){
        $("#btnAdd").attr("disabled", true);
        $("#btnDelet").attr("disabled", true);
        sheet.getRange(-1,0, -1, 1).locked(true);
        sheet.getRange(-1,3, -1, 4).locked(true);
        sheet.getRange(-1,8, -1, 3).locked(true);
        sheet.getRange(-1,13, -1, 5).locked(true);
        sheet.getRange(-1,19, -1, 1).locked(true);
        sheet.getRange(-1,21, -1, 3).locked(true);
        $(this).html('<i class="fa fa-lock"></i>&nbsp&nbsp锁定').removeClass('btn-primary').addClass('red');
        isLock=1;
      }
    });
    //保存
    $('#btsave').click(function() {
      // console.log(selecArr)
      var dataEdit = sheet.getDirtyRows();
      var dataAdd = sheet.getInsertRows();
      if (dataEdit.length != 0) {
        // 设置数据联动
        var dataEdit = sheet.getDirtyRows();
        for (var n = 0; n < dataEdit.length; n++) {
          var setdata = sheet.getValue(dataEdit[n].row, 8);
          for(var i=0;i<selecArr.length;i++){
            if(setdata==selecArr[i].text){
              sheet.setValue(dataEdit[n].row, 7,selecArr[i].value);
            }
          }
        }
        // 数据验证并存储
        dataEdit = sheet.getDirtyRows();
        dataSearch(spread, dataEdit);
        if (isBanck == 1) {
          showMessageEro('不能为空存储失败')
        } else if (isBanck == 0) {
          if (isClash == 1) {
            showMessageEro('信息有冲突存储失败')
          } else {
            showMessageNomal('信息存储成功');
          }
        }
        isBanck = 0;
        isClash = 0;
      } else if (dataAdd.length != 0) {
        var dataAdd = sheet.getInsertRows();
        // 设置数据联动
        for (var n = 0; n < dataAdd.length; n++) {
          var setdata = sheet.getValue(dataAdd[n].row, 8);
          for(var i=0;i<selecArr.length;i++){
            if(setdata==selecArr[i].text){
              sheet.setValue(dataAdd[n].row, 7,selecArr[i].value);
            }
          }
        }
        // 数据验证并存储
        dataAdd = sheet.getInsertRows();
        dataSearch(spread, dataAdd);
        if (isBanck == 1) {
          showMessageEro('不能为空存储失败')
        } else if (isBanck == 0) {
          if (isClash == 1) {
            showMessageEro('信息有冲突存储失败')
          } else {
            showMessageNomal('信息存储成功');
            refreash(spread);
          }
        }
        isBanck = 0;
        isClash = 0;
      } else {
        showMessageNomal('没有修改数据');
      }

    });
    //position编辑
    $('#btnPosition').click(function() {
      var idata = sheet.getDataItem(zdRow);
      openPositionEdit(idata);
    });
    //Process编辑
    $('#btnProcess').click(function() {
      var idata = sheet.getDataItem(zdRow);
      openProcessEdit(idata);
    });
  });
  var isLock=1;                          //是否锁定
  var zdRow = '';                        //行变动新
  var oldRow = '';                       //行变动旧
  var zdCol = '';                        //列变动新
  var selecArr;                         //下拉数组数据源
  var isBanck = 0;                        //是否存在空值提示，0不存在，1存在
  var isClash = 0;                        //是否存在冲突提示，0不冲突，1冲突
  function initSpread(spread) {
    spread.options.tabStripVisible = false;
    var sheet = spread.getSheet(0);
    sheet.options.protectionOptions.allowFilter = true;
    sheet.options.allowCellOverflow = true;
    // // 初始化数据
    loaddata(spread);
    sheet.suspendPaint();
    // 换行自动存储数据
    var selectionChanged = GC.Spread.Sheets.Events.SelectionChanged;
    sheet.bind(selectionChanged, function(e, args) {
      zdRow = args.newSelections[0].row;
      oldRow = args.oldSelections[0].row;
      zdCol = args.newSelections[0].col;
      if (zdRow != oldRow) {
        if (sheet.getDirtyRows().length != 0) {
          var dataEdit = sheet.getDirtyRows();
          //设置脏数据标记
          for (var i = 0; i < dataEdit.length; i++) {
            sheet.getCell(dataEdit[i].row, -1, GC.Spread.Sheets.SheetArea.rowHeader).backColor('yellow');
          }
          // 设置数据联动
          for (var i = 0; i < dataEdit.length; i++) {
            if (oldRow == dataEdit[i].row) {
              var setdata=sheet.getValue(dataEdit[i].row, 8);
              for(var j=0;j<selecArr.length;j++){
                if(setdata==selecArr[j].text){
                  sheet.setValue(dataEdit[i].row, 7,selecArr[j].value);
                }
              }
            }
          }
          // 数据验证并存储
          dataEdit = sheet.getDirtyRows();
          for (var i = 0; i < dataEdit.length; i++) {
            if (oldRow == dataEdit[i].row) {
              var idata = dataEdit[i];
              singleSearch(spread, idata);
              if (isBanck == 1) {
                showMessageEro('不能为空存储失败')
              } else if (isBanck == 0) {
                if (isClash == 1) {
                  showMessageEro('信息有冲突存储失败')
                }
              }
              if (isBanck == 0) {
                if (isClash == 0) {
                  $.ajax({
                    type: 'post',
                    async: false,
                    url: 'doSave',
                    data: {'_satid': '{{sat._id}}', 'data': JSON.stringify(idata.item),'_subsysid':'{{subsys._id}}'},
                    success: function(data) {
                    },
                    error: function(request) {
                    }
                  });
                }
              }
              isClash = 0;
              isBanck = 0;
            }
          }
        } else if (sheet.getInsertRows().length != 0 && sheet.getInsertRows()[0].item.tmid != null) {        //存储新增数据
          var dataAdd = sheet.getInsertRows();
          //设置新增数据标记
          for (var i = 0; i < dataAdd.length; i++) {
            sheet.getCell(dataAdd[i].row, -1, GC.Spread.Sheets.SheetArea.rowHeader).backColor('yellow');
          }
          // 设置数据联动
          for (var n = 0; n < dataAdd.length; n++) {
            if (oldRow == dataAdd[n].row) {
              var setdata = sheet.getValue(dataAdd[n].row, 8);
              for(var j=0;j<selecArr.length;j++){
                if(setdata==selecArr[j].text){
                  sheet.setValue(dataAdd[n].row, 7,selecArr[j].value);
                }
              }
            }
          }
          // 数据验证并存储
          dataAdd = sheet.getInsertRows();
          for (var i = 0; i < dataAdd.length; i++) {
            if (oldRow == dataAdd[i].row) {
              var dataAdd = dataAdd[i];
              singleSearch(spread, dataAdd);
              if (isBanck == 1) {
                showMessageEro('不能为空存储失败')
              } else if (isBanck == 0) {
                if (isClash == 1) {
                  showMessageEro('信息有冲突存储失败')
                }
              }
              isClash = 0;
              isBanck = 0;
            }
          }
        } else if (sheet.getInsertRows().length != 0 && sheet.getInsertRows()[0].item.tmid == null) {
          var dataAdd = sheet.getInsertRows();
          if (dataAdd[0].row != zdRow) {
            layer.msg('新增遥测ID不能为空，会导致存储失败');
          }
        }
      }
      if (zdCol == 21) {
        $('#btnPosition').show();
      } else {
        $('#btnPosition').hide();
      }
      if (zdCol == 22) {
        $('#btnProcess').show();
      } else {
        $('#btnProcess').hide();
      }
    });
    // 锁定
    sheet.options.isProtected = true;
    sheet.resumePaint();

  }

  //页面初始化数据
  function loaddata(spread) {
    var sheet = spread.getSheet(0);
    sheet.suspendPaint();
    // 下拉列表
    selectDData();
    var lines = selecArr;
    var lineCellType = new GC.Spread.Sheets.CellTypes.ComboBox();
    lineCellType.items(lines).editorValueType(spreadNS.CellTypes.EditorValueType.text);
    var colInfos = [
      {name: 'tmid', displayName: '遥测id', size: 80},
      {name: '_id', displayName: 'ID', size: 80},
      {name: '_satid', displayName: '_satid', size: 80},
      {name: 'tmcode', displayName: '遥测代号', size: 80},
      {name: 'paramid', displayName: '遥测编号', size: 80},
      {name: 'pointno', displayName: '采集点编号', size: 80},
      {name: 'tmcaption', displayName: '遥测名称', size: 80},
      {name: 'subsyscode', displayName: '分系统编号', size: 80},
      {name: 'subsysname', displayName: '分系统名称', cellType: lineCellType, size: 80},
      {name: 'devicecode', displayName: '设备编号', size: 80},
      {name: 'devicename', displayName: '设备名称', size: 80},
      {name: 'mapid', displayName: '实时/延时id', size: 80},
      {name: 'isdelay', displayName: '实遥/延遥', size: 80},
      {name: 'channelcode', displayName: '数据通道', size: 80},
      {name: 'datatype', displayName: '数据类型', size: 80},
      {name: 'unit', displayName: '量纲', size: 80},
      {name: 'rangeleft', displayName: '值范围左值', size: 80},
      {name: 'rangeright', displayName: '值范围右值', size: 80},
      {name: 'imported', displayName: '是否导入', size: 80},
      {name: 'type', displayName: '参数类型', size: 80},
      {name: 'lastmodify', displayName: '更新时间', size: 80},
      {name: 'positions', displayName: '原码位置信息', size: 80},
      {name: 'process', displayName: '计算方法', size: 80},
      {name: 'annotation', displayName: '值注释', size: 80}
    ];
    $.ajax({
      type: 'get',
      async: false,
      url: 'getList',
      data: {'_satid': '{{sat._id}}','_subsysid':'{{subsys._id}}'},
      success: function(data) {
        var dataSourse = data.data;
        sheet.setDataSource(dataSourse);
        sheet.bindColumns(colInfos);
        // 筛选
        if(dataSourse.length!=0){
          var filter = new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, 0,dataSourse.length, 24));
          sheet.rowFilter(filter);
        }
        // 隐藏列
        sheet.setColumnVisible(1, false);
        sheet.setColumnVisible(2, false);
        sheet.setColumnVisible(11, false);
        sheet.setColumnVisible(12, false);
        sheet.setColumnVisible(18, false);
        sheet.setColumnVisible(20, false);
        //自定义单元格格式
        var customFormatterTest = {};
        customFormatterTest.prototype = GC.Spread.Formatter.FormatterBase;
        customFormatterTest.format = function(obj, conditionalForeColor) {
          conditionalForeColor.value = 'blue';
          return obj.toString();
        };
        customFormatterTest.parse = function(str) {
          if (!str) {
            return '';
          }
          return str;
        };
        for (var i = 0; i < dataSourse.length; i++) {
          sheet.getCell(i, 3).formatter(customFormatterTest);
          sheet.getCell(i, 6).formatter(customFormatterTest);
        }
        // 行高列宽
        sheet.defaults.rowHeight = 30;
        sheet.setColumnWidth(0, 100);
        sheet.setColumnWidth(3, 100);
        sheet.setColumnWidth(4, 100);
        sheet.setColumnWidth(5, 100);
        sheet.setColumnWidth(6, 300);
        sheet.setColumnWidth(7, 150);
        sheet.setColumnWidth(8, 150);
        sheet.setColumnWidth(9, 150);
        sheet.setColumnWidth(10, 150);
        sheet.setColumnWidth(13, 150);
        sheet.setColumnWidth(14, 130);
        sheet.setColumnWidth(15, 100);
        sheet.setColumnWidth(16, 130);
        sheet.setColumnWidth(17, 130);
        sheet.setColumnWidth(19, 120);
        sheet.setColumnWidth(21, 1000);
        sheet.setColumnWidth(22, 800);
        sheet.setColumnWidth(23, 120);
        showMessageNomal('数据加载成功');
      },
      error: function(request) {
        showMessageAbnomal('数据加载失败');
      }
    });
    sheet.resumePaint();
  }

  function refreash(spread) {
    var sheet = spread.getSheet(0);
    sheet.suspendPaint();
    // 下拉列表
    selectDData();
    var lines = selecArr;
    var lineCellType = new GC.Spread.Sheets.CellTypes.ComboBox();
    lineCellType.items(lines).editorValueType(spreadNS.CellTypes.EditorValueType.text);
    var colInfos = [
      {name: 'tmid', displayName: '遥测id', size: 80},
      {name: '_id', displayName: 'ID', size: 80},
      {name: '_satid', displayName: '_satid', size: 80},
      {name: 'tmcode', displayName: '遥测代号', size: 80},
      {name: 'paramid', displayName: '遥测编号', size: 80},
      {name: 'pointno', displayName: '采集点编号', size: 80},
      {name: 'tmcaption', displayName: '遥测名称', size: 80},
      {name: 'subsyscode', displayName: '分系统编号', size: 80},
      {name: 'subsysname', displayName: '分系统名称', cellType: lineCellType, size: 80},
      {name: 'devicecode', displayName: '设备编号', size: 80},
      {name: 'devicename', displayName: '设备名称', size: 80},
      {name: 'mapid', displayName: '实时/延时id', size: 80},
      {name: 'isdelay', displayName: '实遥/延遥', size: 80},
      {name: 'channelcode', displayName: '数据通道', size: 80},
      {name: 'datatype', displayName: '数据类型', size: 80},
      {name: 'unit', displayName: '量纲', size: 80},
      {name: 'rangeleft', displayName: '值范围左值', size: 80},
      {name: 'rangeright', displayName: '值范围右值', size: 80},
      {name: 'imported', displayName: '是否导入', size: 80},
      {name: 'type', displayName: '参数类型', size: 80},
      {name: 'lastmodify', displayName: '更新时间', size: 80},
      {name: 'positions', displayName: '原码位置信息', size: 80},
      {name: 'process', displayName: '计算方法', size: 80},
      {name: 'annotation', displayName: '值注释', size: 80}
    ];
    $.ajax({
      type: 'get',
      async: false,
      url: 'getList',
      data: {'_satid': '{{sat._id}}','_subsysid':'{{subsys._id}}'},
      success: function(data) {
        var dataSourse = data.data;
        sheet.setDataSource(dataSourse);
        sheet.bindColumns(colInfos);
        // 筛选
        var filter = new GC.Spread.Sheets.Filter.HideRowFilter(new GC.Spread.Sheets.Range(0, 0,dataSourse.length, 24));
        sheet.rowFilter(filter);
        // 隐藏列
        sheet.setColumnVisible(1, false);
        sheet.setColumnVisible(2, false);
        //自定义单元格格式
        var customFormatterTest = {};
        customFormatterTest.prototype = GC.Spread.Formatter.FormatterBase;
        customFormatterTest.format = function(obj, conditionalForeColor) {
          conditionalForeColor.value = 'blue';
          return obj.toString();
        };
        customFormatterTest.parse = function(str) {
          if (!str) {
            return '';
          }
          return str;
        };
        for (var i = 0; i < dataSourse.length; i++) {
          sheet.getCell(i, 3).formatter(customFormatterTest);
          sheet.getCell(i, 6).formatter(customFormatterTest);
        }
        // 行高列宽
        sheet.defaults.rowHeight = 30;
        sheet.setColumnWidth(0, 100);
        sheet.setColumnWidth(3, 100);
        sheet.setColumnWidth(4, 100);
        sheet.setColumnWidth(5, 100);
        sheet.setColumnWidth(6, 300);
        sheet.setColumnWidth(7, 150);
        sheet.setColumnWidth(8, 150);
        sheet.setColumnWidth(9, 150);
        sheet.setColumnWidth(10, 150);
        sheet.setColumnWidth(13, 150);
        sheet.setColumnWidth(14, 130);
        sheet.setColumnWidth(15, 100);
        sheet.setColumnWidth(16, 130);
        sheet.setColumnWidth(17, 130);
        sheet.setColumnWidth(19, 120);
        sheet.setColumnWidth(21, 1000);
        sheet.setColumnWidth(22, 800);
        sheet.setColumnWidth(23, 120);
      },
      error: function(request) {
        showMessageAbnomal('数据加载失败');
      }
    });
    sheet.resumePaint();
  }

  function DeleateRow(spread) {
    layer.confirm('<h3 style="width:100%;text-align:center;font-size:30px;color:red;margin-top:0"><i class="fa fa-warning"></i></h3><p style="width:100%;text-align:center;font-size:15px">该操作不可逆你确定要删除么？</p>', {
      btn: ['确定', '取消'] //按钮
    }, function() {
      var sheet = spread.getSheet(0);
      var idData=sheet.getDataItem(zdRow);
      $.ajax({
        type: 'post',
        async: false,
        url: 'doDelete',
        data: {'_satid': '{{sat._id}}', 'data': JSON.stringify(idData)},
        success: function(data) {
          if (data.success == true) {
            sheet.deleteRows(zdRow, 1);
            showMessageNomal('删除成功')
          } else {
            showMessageEro('删除失败')
          }
        },
        error: function(request) {
          showMessageAbnomal('获取项目信息失败')
        }
      });
    }, function() {
      layer.msg('你取消了删除操作', {
        time: 1500, //15s后自动关闭
      });
    });
  }

  // 下拉列表读取
  function selectDData() {
    $.ajax({
      type: 'get',
      async: false,
      url: '/bdm/subsys/getList',
      data: {'_satid': '{{sat._id}}'},
      success: function(data) {
        function getListdata(data) {
          var oArr = [];
          for (var i = 0; i < data.data.length; i++) {
            var obj = {};
            obj.text = data.data[i].name;
            obj.value = data.data[i].code;
            oArr.push(obj);
          }
          return oArr;
        }

        selecArr = getListdata(data);
      },
      error: function(request) {
        alert('获取项目信息失败');
      }
    });
  }

  // 数据检查
  function singleSearch(spread, idata) {
    var sheet = spread.getSheet(0);
    //清除脏数据
    // sheet.clearPendingChanges();
    var cellStyle1 = new spreadNS.Style();
    cellStyle1.name = 'style1';
    cellStyle1.backColor = '#ff5a5f';
    var cellStyle2 = new spreadNS.Style();
    cellStyle2.name = 'style2';
    cellStyle2.backColor = undefined;
    var cellStyle3 = new spreadNS.Style();
    cellStyle3.name = 'style1';
    cellStyle3.backColor = '#ffc711';
    //自定义单元格格式
    var customFormatterTest = {};
    customFormatterTest.prototype = GC.Spread.Formatter.FormatterBase;
    customFormatterTest.format = function(obj, conditionalForeColor) {
      conditionalForeColor.value = 'blue';
      return obj.toString();
    };
    customFormatterTest.parse = function(str) {
      if (!str) {
        return '';
      }
      return str;
    };
    var isTrue = '';                       //是否空值，1为空，0非空
    var isClash1 = '';                      //是否冲突，0不冲突，1冲突
    var isClash2 = '';                      //是否冲突，0不冲突，1冲突

    var idata2 = {
      '遥测编号': idata.item.paramid,
      '遥测代号': idata.item.tmcode,
      '遥测名称': idata.item.tmcaption,
      '分系统编号': idata.item.subsyscode,
      '分系统名称': idata.item.subsysname
    };
    for (var i in idata2) {
      switch (i) {
        case '遥测编号':
          if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
            //设置底色
            sheet.setStyle(idata.row, 4, cellStyle1, spreadNS.SheetArea.viewport);
            isTrue = 1;
            isBanck = 1;
            break;
          } else {
            sheet.setStyle(idata.row, 4, cellStyle2, spreadNS.SheetArea.viewport);
            break;
          }
        case '遥测代号':
          if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
            //设置底色
            sheet.setStyle(idata.row, 3, cellStyle1, spreadNS.SheetArea.viewport);
            isTrue = 1;
            isBanck = 1;
            break;
          } else {
            $.ajax({
              type: 'post',
              async: false,
              url: 'doValidateCode',
              data: {'_satid': '{{sat._id}}', '_parameterid': idata.item._id, 'code': idata.item.tmcode},
              success: function(data) {
                if (data == true) {
                  sheet.setStyle(idata.row, 3, cellStyle2, spreadNS.SheetArea.viewport);
                  isClash1 = 0;
                } else if (data == false) {
                  isClash1 = 1;
                  isClash = 1;
                  sheet.setStyle(idata.row, 3, cellStyle3, spreadNS.SheetArea.viewport);
                }
              },
              error: function(request) {
                isClash1 = 1;
                showMessageAbnomal('后台数据校验失败');
              }
            });
            break;
          }
        case '遥测名称':
          if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
            //设置底色
            sheet.setStyle(idata.row, 6, cellStyle1, spreadNS.SheetArea.viewport);
            isTrue = 1;
            isBanck = 1;
            break;
          } else {
            $.ajax({
              type: 'post',
              async: false,
              url: 'doValidateName',
              data: {'_satid': '{{sat._id}}', '_parameterid': idata.item._id, 'name': idata.item.tmcaption},
              success: function(data) {
                if (data == true) {
                  sheet.setStyle(idata.row, 6, cellStyle2, spreadNS.SheetArea.viewport);
                  isClash2 = 0;
                } else if (data == false) {
                  isClash2 = 1;
                  isClash = 1;
                  sheet.setStyle(idata.row, 6, cellStyle3, spreadNS.SheetArea.viewport);
                }
              },
              error: function(request) {
                isClash2 = 1;
                showMessageAbnomal('后台数据校验失败');
              }
            });
            break;
          }
        case '分系统编号':
          if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
            //设置底色
            sheet.setStyle(idata.row, 7, cellStyle1, spreadNS.SheetArea.viewport);
            isTrue = 1;
            isBanck = 1;
            break;
          }
          else {
            sheet.setStyle(idata.row, 7, cellStyle2, spreadNS.SheetArea.viewport);
            break;
          }
        case '分系统名称':
          if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
            //设置底色
            sheet.setStyle(idata.row, 8, cellStyle1, spreadNS.SheetArea.viewport);
            isTrue = 1;
            isBanck = 1;
            break;
          }
          else {
            sheet.setStyle(idata.row, 8, cellStyle2, spreadNS.SheetArea.viewport);
            break;
          }
      }
    }
    sheet.getCell(idata.row, 3).formatter(customFormatterTest);
    sheet.getCell(idata.row, 6).formatter(customFormatterTest);
  }

  // 数据检查
  function dataSearch(spread, idata) {
    var sheet = spread.getSheet(0);
    sheet.clearPendingChanges();
    var cellStyle1 = new spreadNS.Style();
    cellStyle1.name = 'style1';
    cellStyle1.backColor = '#ff5a5f';
    var cellStyle2 = new spreadNS.Style();
    cellStyle2.name = 'style2';
    cellStyle2.backColor = undefined;
    var cellStyle3 = new spreadNS.Style();
    cellStyle3.name = 'style1';
    cellStyle3.backColor = '#ffc711';
    //自定义单元格格式
    var customFormatterTest = {};
    customFormatterTest.prototype = GC.Spread.Formatter.FormatterBase;
    customFormatterTest.format = function(obj, conditionalForeColor) {
      conditionalForeColor.value = 'blue';
      return obj.toString();
    };
    customFormatterTest.parse = function(str) {
      if (!str) {
        return '';
      }
      return str;
    };
    for (var j = 0; j < idata.length; j++) {
      var isTrue = '';                       //是否空值，1为空，0非空
      var isClash1 = '';                      //是否冲突，0不冲突，1冲突
      var isClash2 = '';                      //是否冲突，0不冲突，1冲突
      var idata2 = {
        '遥测编号': idata[j].item.paramid,
        '遥测代号': idata[j].item.tmcode,
        '遥测名称': idata[j].item.tmcaption,
        '分系统编号': idata[j].item.subsyscode,
        '分系统名称': idata[j].item.subsysname
      };
      for (var i in idata2) {
        switch (i) {
          case '遥测编号':
            if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
              //设置底色
              sheet.setStyle(idata[j].row, 4, cellStyle1, spreadNS.SheetArea.viewport);
              isTrue = 1;
              isBanck = 1;
              break;
            } else {
              sheet.setStyle(idata[j].row, 4, cellStyle2, spreadNS.SheetArea.viewport);
              break;
            }
          case '遥测代号':
            if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
              //设置底色
              sheet.setStyle(idata[j].row, 3, cellStyle1, spreadNS.SheetArea.viewport);
              isTrue = 1;
              isBanck = 1;
              break;
            } else {
              $.ajax({
                type: 'post',
                async: false,
                url: 'doValidateCode',
                data: {'_satid': '{{sat._id}}', '_parameterid': idata[j].item._id, 'code': idata[j].item.tmcode},
                success: function(data) {
                  if (data == true) {
                    sheet.setStyle(idata[j].row, 3, cellStyle2, spreadNS.SheetArea.viewport);
                    isClash1 = 0;
                  } else if (data == false) {
                    isClash1 = 1;
                    isClash = 1;
                    sheet.setStyle(idata[j].row, 3, cellStyle3, spreadNS.SheetArea.viewport);
                  }
                },
                error: function(request) {
                  isClash1 = 1;
                  showMessageAbnomal('后台数据校验失败');
                }
              });
              break;
            }
          case '遥测名称':
            if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
              //设置底色
              sheet.setStyle(idata[j].row, 6, cellStyle1, spreadNS.SheetArea.viewport);
              isTrue = 1;
              isBanck = 1;
              break;
            } else {
              $.ajax({
                type: 'post',
                async: false,
                url: 'doValidateName',
                data: {'_satid': '{{sat._id}}', '_parameterid': idata[j].item._id, 'name': idata[j].item.tmcaption},
                success: function(data) {
                  if (data == true) {
                    sheet.setStyle(idata[j].row, 6, cellStyle2, spreadNS.SheetArea.viewport);
                    isClash2 = 0;
                  } else if (data == false) {
                    isClash2 = 1;
                    isClash = 1;
                    sheet.setStyle(idata[j].row, 6, cellStyle3, spreadNS.SheetArea.viewport);
                  }
                },
                error: function(request) {
                  isClash2 = 1;
                  showMessageAbnomal('后台数据校验失败');
                }
              });
              break;
            }
          case '分系统编号':
            if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
              //设置底色
              sheet.setStyle(idata[j].row, 7, cellStyle1, spreadNS.SheetArea.viewport);
              isTrue = 1;
              isBanck = 1;
              break;
            }
            else {
              sheet.setStyle(idata[j].row, 7, cellStyle2, spreadNS.SheetArea.viewport);
              break;
            }
          case '分系统名称':
            if (idata2[i] == null || idata2[i] == undefined || idata2[i] == '') {
              //设置底色
              sheet.setStyle(idata[j].row, 8, cellStyle1, spreadNS.SheetArea.viewport);
              isTrue = 1;
              isBanck = 1;
              break;
            }
            else {
              sheet.setStyle(idata[j].row, 8, cellStyle2, spreadNS.SheetArea.viewport);
              break;
            }
        }
      }
      if (isTrue == 0) {
        if (isClash1 == 0 && isClash2 == 0) {
          $.ajax({
            type: 'post',
            async: false,
            url: 'doSave',
            data: {'_satid': '{{sat._id}}', 'data': JSON.stringify(idata[j].item),'_subsysid':'{{subsys._id}}'},
            success: function(data) {
             if(data.success==true){
               sheet.getCell(idata[j].row, -1, GC.Spread.Sheets.SheetArea.rowHeader).backColor(undefined);
             }
            },
            error: function(request) {
            }
          });
        }
      }
      sheet.getCell(idata[j].row, 3).formatter(customFormatterTest);
      sheet.getCell(idata[j].row, 6).formatter(customFormatterTest);
    }
  }

  //position页面
  function openPositionEdit(idata) {
    var url = '/bdm/parameter/position?_satid=' + $('#_hsatid').val() + '&_parameterid=' + idata._id;
    openLayuiWithAreaFunc(' 编辑原码位置', url,["900px","550px"],savePositionFunc);
  }

  function savePositionFunc(index, layero) {
    var data = $(layero).find('iframe')[0].contentWindow.callbackdata();
    var isNull = JSON.parse(data).length;
    if (isNull <= 0) {
      showMessageAbnomal('操作错误，请检查后重试');
    } else {
      sheet.setValue(zdRow, 21, data);
      layer.close(index);
    }
  }

  //process页面
  function openProcessEdit(idata) {
    var url = '/bdm/parameter/process?_satid=' + $('#_hsatid').val() + '&_parameterid=' + idata._id;
    openLayuiWithAreaFunc(' 编辑计算公式位置', url,["900px","550px"],saveProcessFunc);
  }

  function saveProcessFunc(index, layero) {
    var tar = $(layero).find('iframe')[0].contentWindow.callbackdata();
    if (tar != null) {
      delete tar[0]._id;
      delete tar[0]._satid;
      var data = JSON.stringify(tar[0]);
      sheet.setValue(zdRow, 22, data);
      layer.close(index);
    }
  }
</script>
<!--这里使用SpreadJS进行遥测参数列表的维护，对应“2.2.3 遥测参数”-->


{% include "./footer.html" %}
