{% include "./top.html" %}

<link href="/static/metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="/static/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"
      type="text/css"/>

<script src="/static/metronic/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js"
        type="text/javascript"></script>

<script src="/static/metronic/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js"
        type="text/javascript"></script>

<script src="/static/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>

<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light " style="margin-bottom: 0px;padding-bottom: 0px;">
        <div class="portlet-body form" style="padding-top: 8px !important;">
            <form class="form-horizontal" id="form_satellite">
                <div class="form-body" style="padding: 0px !important;">
                    <input type="hidden" id="Id_" name="_id" value="{{data._id}}">
                    <input type="hidden" id="_satid" name="_satid" value="{{sat._id}}">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        表单验证失败，请检查表单内容.
                    </div>
                <div class="row">
                     <div class="col-sm-6">
                         <div class="form-group">
                             <label class="control-label col-xs-4" for="name">校准方法名称<span> * </span></label>
                             <div class="col-xs-8">
                                 <input type="text" class="form-control" id="name" name="name" value="{{data.name}}">
                             </div>
                         </div>
                     </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="code">校准方法代号<span> * </span></label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="code" name="code" value="{{data.code}}">
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                               <label class="control-label col-xs-4" for="type">校准类型</label>
                               <div class="col-xs-8">
                                   <select name="type" id="type" class="form-control">
                                       <option value=0 {% if data.type==0 %}selected{% endif %}>异源</option>
                                       <option value=1 {% if data.type==1 %}selected{% endif %}>同源</option>
                                       <option value=2 {% if data.type==2 %}selected{% endif %}>特殊</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="way">校准方法</label>
                                <div class="col-xs-8">
                                    <select name="way" id="way" class="form-control">
                                        <option value=0 {% if data.way==0 %}selected{% endif %}>分层值校准</option>
                                        <option value=1 {% if data.way==1 %}selected{% endif %}>电压量校准</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="enable">校准是否使能</label>
                                <div class="col-xs-8">
                                    <select name="enable" id="enable" class="form-control">
                                        <option value=0 {% if data.enable==0 %}selected{% endif %}>否</option>
                                        <option value=1 {% if data.enable==1 %}selected{% endif %}>是</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="coefs">校准方法系数列表</label>
                        <div class="col-xs-10">
                            <textarea name="coefs" id="coefs" cols="30" rows="3" class="form-control">{{data.coefs}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="describe">校准方法说明</label>
                        <div class="col-xs-10">
                            <textarea name="describe" id="describe" cols="30" rows="5"class="form-control">{{data.describe}}</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
  var callbackdata = function() {
    $('#form_satellite').submit();
    var validate = $('#form_satellite').valid();
    if (validate) {
      return [form2obj('form_satellite')];
    } else {
      return null;
    }
  };

  $(document).ready(function() {
    var rules = {
      name: {
        minlength: 2,
        required: true,
        remote: {
          url: 'doValidateName',
          type: 'post',
          data: {
            'name': function() {
              return $('#name').val();
            },
            '_regulateid': function() {
              return $('#_id').val();
            },
            '_satid': function() {
              return $('#_satid').val();
            }
          }
        }
      },
      code: {
        minlength: 2,
        maxlength: 10,
        required: true,
        remote: {
          url: 'doValidateCode',
          type: 'post',
          data: {
            'code': function() {
              return $('#code').val();
            },
            '_regulateid': function() {
              return $('#_id').val();
            },
            '_satid': function() {
              return $('#_satid').val();
            }
          }
        }
      }
    };
    var message = {
      code: {remote: '校准方法代号不合法或已被占用'},
      name: {remote: '校准方法名称不合法或已被占用'}
    };
    bindFormValidate('#form_satellite', rules, message);
  });

</script>

{% include "./footer.html" %}
