{% include "manager/top.html" %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/static/metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
      rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"
      type="text/css"/>
<link href="/static/metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css"
      rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/datatables/rowReorder.dataTables.min.css"
      rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/static/metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="/static/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
<!-- END THEME GLOBAL STYLES -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>

<script src="/static/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js"
        type="text/javascript"></script>

<script src="/static/metronic/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="/static/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/metronic/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/metronic/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/metronic/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/datatables/dataTables.rowReorder.min.js"
        type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/metronic/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script src="/static/arena/FileSaver/FileSaver.js"></script>


<input type="hidden" id="_groupcode" value="{{group.code}}">

<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light " style="margin-bottom: 0px;padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">{{group.name}}
                    <i class="fa fa-chevron-right"></i>{% if data._id==null %}分组素材定义添加{% else %}分组素材定义编辑{% endif %}</span>
            </div>
            <div class="tools"></div>
        </div>
        <div class="portlet-body form" style="padding-top: 8px !important;">
            <div id="d1">
                <form role="form" class="form-horizontal" id="form_satellite">
                    <div class="form-body" style="padding: 0px !important;">

                        <input type="hidden" id="_id" name="_id" value="{{data._id}}">
                        <input type="hidden" id="_groupid" name="_groupid" value="{{group._id}}">
                        <input type="hidden" id="_params" name="_params" value="{{data._params}}">
                        <input type="hidden" id="imge_params" name="imge_params" value="{{data.imge_params}}">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            表单验证失败，请检查表单内容.
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="name">名称 <span> * </span></label>
                            <div class="col-xs-9">
                                <input type="text" id="name" class="form-control" name="name"
                                       value="{{data.name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="code">代号 <span> * </span></label>
                            <div class="col-xs-9">
                                <input type="text" id="code" class="form-control" name="code"
                                       value="{{data.code}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-3" for="wantornot">是否指定查询时间段</label>
                            <div class="col-xs-9">
                                <select id="wantornot" name="wantornot" class="form-control">
                                    <option value="false" {% if data.wantornot=="false" %}selected{% endif %}>否
                                    </option>
                                    <option value="true" {% if data.wantornot=="true" %}selected{% endif %}>是
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div id="timeDiv">
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="wantbegin">参数查询开始时间</label>
                                <div class="col-xs-9">
                                    <input class="form-control date-picker" size="16" type="text" id="wantbegin"
                                           name="wantbegin" value="{{data.wantbegin}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" for="wantend">参数查询结束时间</label>
                                <div class="col-xs-9">
                                    <input class="form-control date-picker" size="16" type="text" id="wantend"
                                           name="wantend" value="{{data.wantend}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="resource_type">素材类型</label>
                            <div class="col-xs-9">
                                <select id="resource_type" name="resource_type" class="form-control">
                                    <option value="imge" {% if data.resource_type=="imge" %}selected{% endif %}>图片
                                    </option>
                                    <option value="table" {% if data.resource_type=="table" %}selected{% endif %}>
                                        表格
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="imgStyle">
                            <label class="control-label col-xs-3" for="style">样式</label>
                            <div class="col-xs-9">
                                <select id="style" name="style" class="form-control">
                                    <option value="cover" {% if data.style=="cover" %}selected{% endif %}>覆盖
                                    </option>
                                    <option value="casscade" {% if data.style=="casscade" %}selected{% endif %}>层叠
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="button" class="btn green" id="btn_next">下一步</button>
                    </div>
                </form>
            </div>
            <div id="imgeDiv" style="display: none;">
                <form class="form-horizontal" id="form_param_imge">
                    <table id="example" class="table table-striped table-bordered table-hover dt-responsive"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>型号代号</th>
                            <th>遥测ID</th>
                            <th>遥测代号</th>
                            <th>遥测名称</th>
                            <th>剔野下限</th>
                            <th>剔野上限</th>
                            <th>剔野斜率</th>
                            <th>平滑算法</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="form-actions right">
                        <button type="button" class="btn blue" onclick="back()">上一步</button>
                        <button type="button" class="btn green saveAll">保存</button>
                    </div>
                </form>
            </div>
            <div id="tableDiv" style="display: none;">
                <form class="form-horizontal" id="form_param_table">
                    <table id="example_table" class="table table-striped table-bordered table-hover dt-responsive"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>型号代号</th>
                            <th>遥测ID</th>
                            <th>遥测代号</th>
                            <th>遥测名称</th>
                            <th>剔野下限</th>
                            <th>剔野上限</th>
                            <th>剔野斜率</th>
                            <th>判读下限</th>
                            <th>判读上限</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="form-actions right">
                        <button type="button" class="btn blue" onclick="back()">上一步</button>
                        <button type="button" class="btn green saveAll">保存</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function () {
    var form_v = $("#form_satellite");
    var error_v = $('.alert-danger', form_v);
    form_v.validate({
      errorElement: 'span', //default input error message container
      errorClass: 'help-block help-block-error', // default input error message class
      focusInvalid: false, // do not focus the last invalid input
      ignore: "",  // validate all fields including form hidden input
      messages: {
        code: {
          remote: '代号已经被使用'
        }
      },
      rules: {
        name: {
          required: true
        },
        code: {
          required: true,
          remote: {
            url: 'validategrpann',
            type: 'get',
            data: {
              _id: function () {
                return $('#_id').val();
              },
              code: function () {
                return $('#code').val();
              },
              grpcode: function () {
                return $('#_groupcode').val();
              }
            }
          }
        }
      },
      invalidHandler: function (event, validator) { //display error alert on form submit
        error_v.show();
        App.scrollTo(error_v, -200);
      },
      errorPlacement: function (error, element) { // render error placement for each input type
        var cont = $(element).parent('.input-group');
        if (cont.size() > 0) {
          cont.after(error);
        } else {
          element.after(error);
        }
      },
      highlight: function (element) { // hightlight error inputs
        $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
      },
      unhighlight: function (element) { // revert the change done by hightlight
        $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
      },
      success: function (label) {
        label.closest('.form-group').removeClass('has-error'); // set success class to the control group
      },
      submitHandler: function (form) {
        error_v.hide();
      }
    });

    $('#resource_type').change(function () {
      styleDiv();
    });
    styleDiv();

    timeDiv();
    $('#wantornot').change(function () {
      timeDiv();
    });


    $('#btn_next').click(function () {
      $("#form_satellite").submit();
      var validate = $("#form_satellite").valid();
      if (!validate)
        return;
      $('#d1').attr('style', 'display: none;');
      var id = $('#resource_type').val();
      $('#' + id + 'Div').attr('style', 'display:inline;');
    });
    $(".saveAll").click(function () {
      var param = $('#example_table').DataTable().rows().data().toArray();
      var table = $('#example_table').DataTable();
      var data = table.$('input');
      for (var i = 0; i < data.length; i++) {
        var flagArr = data[i].id.split("_");
        for (var j = 0; j < param.length; j++) {
          if (flagArr[0] == param[j].sat && flagArr[1] == param[j].tmid) {
            param[j][flagArr[2]] = data[i].value;
            break;
          }
        }
      }
      var param_imge = $('#example').DataTable().rows().data().toArray();
      var table_imge = $('#example').DataTable();
      var data_imge = table_imge.$(':input');
      for (var i_imge = 0; i_imge < data_imge.length; i_imge++) {
        var flagArr_imge = data_imge[i_imge].id.split("_");
        for (var j_imge = 0; j_imge < param_imge.length; j_imge++) {
          if (flagArr_imge[0] == param_imge[j_imge].sat && flagArr_imge[1] == param_imge[j_imge].tmid) {
            param_imge[j_imge][flagArr_imge[2]] = data_imge[i_imge].value;
            break;
          }
        }
      }


      $('#imge_params').val(JSON.stringify(param_imge));
      $('#_params').val(JSON.stringify(param));

      $.ajax({
        cache: true,
        type: "POST",
        url: "doSaveGrpAnalysis",
        data: $('#form_satellite').serialize(), // 你的formid
        async: false,
        error: function (request) {
          alert("Connection error");
        },
        success: function (data) {
          alert(data.msg);
          layer.closeAll();
          var $tabs = parent.$(parent.document).data('multitabs');
          var $iframe = $tabs.$element.navPanelList.find('li.active:first a')[0].dataset['id'];
          var $table = parent.$("#" + $iframe)[0].contentWindow.$("#example");
          $table.DataTable().ajax.reload();
        }
      });

    })

    $('#example_table').DataTable({
      "ajax": "getgrpparams?_groupid=" + $('#_groupid').val() + "&_id=" + $("#_id").val() + "&resource_type=table",
      "dom": 'Bfrltip',
      buttons: [{
        text: '添加参数',
        className: 'dt-button buttons-copy buttons-html5 btn green btn-outline',
        action: function (e, dt, node, config) {
          layer.open({
            type: 2,
            title: '请选择参数',
            area: ['800px', '600px'],
            content: '/manager/reporter/analysis/allparamsingrp?_id=' + $("#_groupid").val(),
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              var rows = $(layero).find("iframe")[0].contentWindow.callbackdata();
              if (rows.length == 0) {
                layer.msg("请选择至少一个参数");
              } else {
                for (var i = 0; i < rows.length; i++) {
                  var param = new Object();
                  param.seq = 0;
                  param.sat = rows[i].sat;
                  param.sat_out = rows[i].sat_out;
                  param.tmid = rows[i].tmid;
                  param.code = rows[i].code;
                  param.note = rows[i].note;
                  param.upper = 0;
                  param.lower = 0;
                  param.gradient = 0;
                  param.nmin = 0;
                  param.nmax = 0;
                  $('#example_table').DataTable().row.add(param).draw();
                }
                layer.close(index);
              }
            }
          });
        }
      }, {
        text: '参数列表导出',
        className: 'dt-button buttons-copy buttons-html5 btn red btn-outline',
        action: function (e, dt, node, config) {
          var param = $('#example_table').DataTable().rows().data().toArray();
          var table = $('#example_table').DataTable();
          var data = table.$('input');
          for (var i = 0; i < data.length; i++) {
            var flagArr = data[i].id.split("_");
            for (var j = 0; j < param.length; j++) {
              if (flagArr[0] == param[j].sat && flagArr[1] == param[j].tmid) {
                param[j][flagArr[2]] = data[i].value;
                break;
              }
            }
          }
          var file = new File([JSON.stringify(param)], "grptableparamlist.json", {type: "text/plain;charset=utf-8"});
          saveAs(file);
        }
      }, {
        text: '参数列表导入',
        className: 'dt-button buttons-copy buttons-html5 btn blue btn-outline',
        action: function (e, dt, node, config) {
          layer.open({
            title: '请选择文件',
            content: '<input type="file" accept=".json" id="localfile" name="localfile"/>',
            zIndex: 99890004,
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              if (typeof FileReader == 'undifined') //判断浏览器是否支持filereader
              {
                alert("抱歉，你的浏览器不支持 FileReader");
                return;
              }
              var file = parent.document.getElementById("localfile").files[0];
              var reader = new FileReader();
              reader.readAsText(file);
              reader.onload = function (e) {
                var jsonres = this.result;
                layer.open({
                  title: '请选择匹配型号',
                  content: '<select id="matchsat" name="matchsat" style="width: 220px;" class="form-control"></select>',
                  zIndex: 99891004,
                  btn: ['确定', '取消'],
                  yes: function (idx, lyo) {
                    var matchsat = parent.$("#matchsat").select2("data")[0];
                    var paramArr = JSON.parse(jsonres);
                    for (var paridx = 0; paridx < paramArr.length; paridx++) {
                      paramArr[paridx].sat = matchsat.id;
                      paramArr[paridx].sat_out = matchsat.text;
                      $('#example_table').DataTable().row.add(paramArr[paridx]).draw();
                    }
                    layer.close(idx);
                    layer.close(index);
                  },
                  success: function (lyo, idx) {
                    $.ajax({
                      url: 'getGroupSats',
                      type: 'GET',
                      dataType: 'json',
                      data: {
                        _groupid: $("#_groupid").val()
                      },
                      async: false,
                      error: function (request) {
                        alert("Connection error");
                      },
                      success: function (data) {
                        var sats_data = data.data;
                        parent.$('#matchsat').select2({
                          data: sats_data
                        });
                      }
                    });
                  }
                });
              }
            }
          });
        }
      }],
      columns: [{
        "data": "seq"
      },
        {
          "data": "sat_out"
        },
        {
          "data": "tmid"
        },
        {
          "data": "code"
        },
        {
          "data": "note"
        },
        {
          "data": "lower"
        },
        {
          "data": "upper"
        },
        {
          "data": "gradient"
        },
        {
          "data": "nmin"
        },
        {
          "data": "nmax"
        },
        {
          "data": "code"
        }
      ],
      "columnDefs": [{
        "render": function (data, type, row) {
          return '<a href="#" id="del"><button class="btn green btn-xs btn-outline">删除</button></a>';
        },
        "targets": 10
      },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_seq" name=' + row.sat + '_' + row.tmid + '_seq" value="' + row.seq + '" style="width: 70px"/>';
          },
          "targets": 0
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_upper" name=' + row.sat + '_' + row.tmid + '_upper" value="' + row.upper + '" style="width: 70px"/>';
          },
          "targets": 6
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_lower" name=' + row.sat + '_' + row.tmid + '_lower" value="' + row.lower + '" style="width: 70px"/>';
          },
          "targets": 5
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_gradient" name=' + row.sat + '_' + row.tmid + '_gradient" value="' + row.gradient + '" style="width: 70px"/>';
          },
          "targets": 7
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_nmax" name=' + row.sat + '_' + row.tmid + '_nmax" value="' + row.nmax + '" style="width: 70px"/>';
          },
          "targets": 9
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_nmin" name=' + row.sat + '_' + row.tmid + '_nmin" value="' + row.nmin + '" style="width: 70px"/>';
          },
          "targets": 8
        }
      ],
      "language": {
        "decimal": "",
        "emptyTable": "表中数据为空",
        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "infoFiltered": "(由 _MAX_ 项结果过滤)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "显示 _MENU_ 项结果",
        "loadingRecords": "载入中...",
        "processing": "处理中...",
        "search": "搜索:",
        "zeroRecords": "没有匹配结果",
        "paginate": {
          "first": "首页",
          "last": "末页",
          "next": "下页",
          "previous": "上页"
        },
        "aria": {
          "sortAscending": ": 以升序排列此列",
          "sortDescending": ": 以降序排列此列"
        }
      }
    });

    $('#example_table tbody').on('click', 'a#del', function () {
      $('#example_table').DataTable().row($(this).parents('tr')).remove().draw(false);
    });

    $('#example').DataTable({
      "ajax": "getgrpparams?_groupid=" + $('#_groupid').val() + "&_id=" + $("#_id").val() + "&resource_type=imge",
      rowReorder: {
        dataSrc: 'seq'
      },
      //order:[],
      "dom": 'Bfrltip',
      buttons: [{
        text: '添加参数',
        className: 'dt-button buttons-copy buttons-html5 btn green btn-outline',
        action: function (e, dt, node, config) {
          //window.location.href = "add?_groupid="+$('#groupid').val()
          layer.open({
            type: 2,
            title: '请选择参数',
            area: ['800px', '600px'],
            content: '/manager/reporter/analysis/allparamsingrp?_id=' + $("#_groupid").val(),
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              var rows = $(layero).find("iframe")[0].contentWindow.callbackdata();
              if (rows.length == 0) {
                layer.msg("请选择至少一个参数");
              } else {
                for (var i = 0; i < rows.length; i++) {
                  var param = new Object();
                  param.sat = rows[i].sat;
                  param.sat_out = rows[i].sat_out;
                  param.tmid = rows[i].tmid;
                  param.code = rows[i].code;
                  param.note = rows[i].note;
                  param.upper = 0;
                  param.lower = 0;
                  param.gradient = 0;
                  param.seq = param.tmid;
                  //param.ymax=0;
                  //param.ymin=0;
                  //param.smooth='casscade';
                  $('#example').DataTable().row.add(param).draw();
                }
                layer.close(index);
              }
            }
          });

        }
      }, {
        text: '参数列表导出',
        className: 'dt-button buttons-copy buttons-html5 btn red btn-outline',
        action: function (e, dt, node, config) {
          var param_imge = $('#example').DataTable().rows().data().toArray();
          var table_imge = $('#example').DataTable();
          var data_imge = table_imge.$(':input');
          for (var i_imge = 0; i_imge < data_imge.length; i_imge++) {
            var flagArr_imge = data_imge[i_imge].id.split("_");
            for (var j_imge = 0; j_imge < param_imge.length; j_imge++) {
              if (flagArr_imge[0] == param_imge[j_imge].sat && flagArr_imge[1] == param_imge[j_imge].tmid) {
                param_imge[j_imge][flagArr_imge[2]] = data_imge[i_imge].value;
                break;
              }
            }
          }
          var file = new File([JSON.stringify(param_imge)], "grpimageparamlist.json", {type: "text/plain;charset=utf-8"});
          saveAs(file);
        }
      }, {
        text: '参数列表导入',
        className: 'dt-button buttons-copy buttons-html5 btn blue btn-outline',
        action: function (e, dt, node, config) {
          layer.open({
            title: '请选择文件',
            content: '<input type="file" accept=".json" id="localfile" name="localfile"/>',
            zIndex: 99890004,
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              if (typeof FileReader == 'undifined') //判断浏览器是否支持filereader
              {
                alert("抱歉，你的浏览器不支持 FileReader");
                return;
              }
              var file = parent.document.getElementById("localfile").files[0];
              var reader = new FileReader();
              reader.readAsText(file);
              reader.onload = function (e) {
                var jsonres = this.result;
                layer.open({
                  title: '请选择匹配型号',
                  content: '<select id="matchsat" name="matchsat" style="width: 220px;"></select>',
                  zIndex: 99891004,
                  btn: ['确定', '取消'],
                  yes: function (idx, lyo) {
                    var matchsat = parent.$("#matchsat").select2("data")[0];
                    var paramArr = JSON.parse(jsonres);
                    for (var paridx = 0; paridx < paramArr.length; paridx++) {
                      paramArr[paridx].sat = matchsat.id;
                      paramArr[paridx].sat_out = matchsat.text;
                      $('#example').DataTable().row.add(paramArr[paridx]).draw();
                    }
                    layer.close(idx);
                    layer.close(index);
                  },
                  success: function (lyo, idx) {
                    $.ajax({
                      url: 'getGroupSats',
                      type: 'GET',
                      dataType: 'json',
                      data: {
                        _groupid: $("#_groupid").val()
                      },
                      async: false,
                      error: function (request) {
                        alert("Connection error");
                      },
                      success: function (data) {
                        var sats_data = data.data;
                        parent.$('#matchsat').select2({
                          data: sats_data
                        });
                      }
                    });
                  }
                });
              }
            }
          });
        }
      }],
      columns: [
        {
          "data": "seq"
        },
          {
        "data": "sat_out"
      },
        {
          "data": "tmid"
        },
        {
          "data": "code"
        },
        {
          "data": "note"
        },
        {
          "data": "lower"
        },
        {
          "data": "upper"
        },
        {
          "data": "gradient"
        },
        {
          "data": "smooth"
        },
        {
          "data": "code"
        }
      ],
      "columnDefs": [
        { targets: 0, visible: false },
        {
        "render": function (data, type, row) {
          return '<a href="#" id="del"><button class="btn green btn-xs btn-outline">删除</button></a>';
        },
        //"targets": 9
        "targets": 9
      },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_upper" name=' + row.sat + '_' + row.tmid + '_upper" value="' + row.upper + '" style="width: 70px"/>';
          },
          "targets": 6
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_lower" name=' + row.sat + '_' + row.tmid + '_lower" value="' + row.lower + '" style="width: 70px"/>';
          },
          "targets": 5
        },
        {
          "render": function (data, type, row) {
            return '<input type="number" id="' + row.sat + '_' + row.tmid + '_gradient" name=' + row.sat + '_' + row.tmid + '_gradient" value="' + row.gradient + '" style="width: 70px"/>';
          },
          "targets": 7
        },
        {
          "render": function (data, type, row) {
            var retstr = '<select id="' + row.sat + '_' + row.tmid + '_smooth" name=' + row.sat + '_' + row.tmid + '_smooth" value="' + row.smooth + '" style="width: 70px"/><option value="false"';
            if (row.smooth == 'false')
              retstr += ' selected';
            retstr += '>不用</option><option value="true"';
            if (row.smooth == 'true')
              retstr += ' selected';
            retstr += '>使用</option></select>';
            return retstr;
          },
          "targets": 8
        }
      ],
      "language": {
        //"url": "/static/control/DataTables-1.10.16/plugins/i18n/Chinese.lang"
        "decimal": "",
        "emptyTable": "表中数据为空",
        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "infoFiltered": "(由 _MAX_ 项结果过滤)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "显示 _MENU_ 项结果",
        "loadingRecords": "载入中...",
        "processing": "处理中...",
        "search": "搜索:",
        "zeroRecords": "没有匹配结果",
        "paginate": {
          "first": "首页",
          "last": "末页",
          "next": "下页",
          "previous": "上页"
        },
        "aria": {
          "sortAscending": ": 以升序排列此列",
          "sortDescending": ": 以降序排列此列"
        }
      }
    });

    $('#example tbody').on('click', 'a#del', function () {
      $('#example').DataTable().row($(this).parents('tr')).remove().draw(false);
    });
  });

  function back() {
    var id = $('#resource_type').val();
    $('#' + id + 'Div').attr('style', 'display: none;');
    $('#d1').attr('style', 'display:inline;');
  }

  function styleDiv() {
    if ($('#resource_type').val() == 'imge') {
      $('#imgStyle').show();
    } else {
      $('#imgStyle').hide();
    }
  }

  function timeDiv() {
    if($('#wantornot').val()=='true'){
      $('#timeDiv').show();
    }else{
      $('#timeDiv').hide();
    }
  }
</script>

{% include "manager/footer.html" %}