{% include "manager/top.html" %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/static/metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
      rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
      rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"
      type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/static/metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="/static/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
<!-- END THEME GLOBAL STYLES -->
<script src="/static/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>

<!--script src="/static/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js"
        type="text/javascript"></script>
<script src="/static/metronic/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js"
        type="text/javascript"></script-->

<script src="/static/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/metronic/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/metronic/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="/static/arena/js/form.js" type="text/javascript"></script>

<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light " style="margin-bottom: 0px;padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">{{sat.name}}<i class="fa fa-chevron-right"></i>
                    {% if data._id==null %}添加常驻故障{% else %} {% if check=='false' %} 编辑常驻故障 {% else %} 查看常驻故障 {% endif %} {% endif %}</span>
            </div>
            <div class="tools"></div>
        </div>
        <div class="portlet-body form" style="padding-top: 8px !important;">
            <input type="hidden" id="subsys_id" name="subsys_id" value="{{data.subsys}}">
            <input type="hidden" id="device_id" name="device_id" value="{{data.device}}">
            <form class="form-horizontal" id="form_satellite">
                <div class="form-body" style="padding: 0px !important;">
                    <input type="hidden" id="_id" name="_id" value="{{data._id}}">
                    <input type="hidden" id="_satid" name="_satid" value="{{sat._id}}">
                    <input type="hidden" id="subsys_name" name="subsys_name" value="{{data.subsys_name}}">
                    <input type="hidden" id="device_name" name="device_name" value="{{data.device_name}}">

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        表单验证失败，请检查表单内容.
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="subsys">影响分系统</label>
                        <div class="col-xs-9">
                            <select id="subsys" name="subsys" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="device">影响单机</label>
                        <div class="col-xs-9">
                            <select id="device" name="device" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="name">常驻故障名称 <span> * </span></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="name" name="name"
                                   value="{{data.name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="impact">影响因子 <span></span></label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="impact" name="impact"
                                   value="{{data.impact}}">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="occurTime">失效日期</label>
                        <div class="col-xs-9">
                            <div class="input-group date form_datetime form_datetime bs-datetime">
                                <input type="text" size="16" class="form-control" id="occurTime"
                                       name="occurTime" value="{{data.occurTime}}">
                                <span class="input-group-addon">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="incident">故障部位及现象</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" id="incident" name="incident">{{data.incident}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="treatment">补偿措施</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" id="treatment" name="treatment">{{data.treatment}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="remark">备注</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" id="remark" name="remark">{{data.remark}}</textarea>
                        </div>
                    </div>
                </div>
                <!--div class="form-actions right">
                    {% if check=='false' %}
                    <button id="btn_submit" type="button" class="btn green">保存</button>
                    {% endif %}
                </div-->
            </form>
        </div>
    </div>
</div>

<script>

  var callbackdata = function () {
  	$('#subsys_name').val($('#subsys option:selected').text());
  	$('#device_name').val($('#device option:selected').text());
    $("#form_satellite").submit();
    var validate = $("#form_satellite").valid();
    if (validate)
      return formBuild('#form_satellite');
    else
      return null;
  };

  $(document).ready(function () {
    var rules = {
      name: {
        minlength: 2,
        required: true
      }
    };
    formValid('#form_satellite',rules);
    
    
    
    /*$.ajax({
      url: 'getSubsys',
      type: 'GET',
      dataType: 'json',
      data: {
        _satid: $("#_satid").val()
      },
      async: false,
      error: function (request) {
        alert("Connection error");
      },
      success: function (data) {
        var subsys_data = data.data;
        subsys_data.forEach(function (t) {
          if (t.id == $("#subsys_id").val()) {
            t.selected = true;
            $('#subsyspath').text(t.text);
          }
        });
        $('#subsys').select2({
          data: subsys_data
        });
      }
    });
    $('#subsys').change(function () {
      $('#subsyspath').text($('#subsys option:selected').text());

    });
    */
    
    $.ajax({
      url: 'getSubsys',
      type: 'GET',
      dataType: 'json',
      data: {
        _satid: $("#_satid").val()
      },
      async: false,
      error: function (request) {
        alert("Connection error");
      },
      success: function (data) {
        var subsys_data = data.data;
        subsys_data.forEach(function (t) {
          if (t.id == $("#subsys_id").val())
            t.selected = true;
            $('#subsyspath').text(t.text);
        });
        $('#subsys').select2({
          data: subsys_data
        });
      }
    });

    var _subsysid = $("#subsys_id").val();
    if (_subsysid == null || _subsysid == "")
      _subsysid = $("#subsys").val();

    $.ajax({
      url: 'getDevice',
      type: 'GET',
      dataType: 'json',
      data: {
        _satid: $("#_satid").val(),
        _subsysid: _subsysid
      },
      async: false,
      error: function (request) {
        alert("Connection error");
      },
      success: function (data) {
        var device_data = data.data;
        device_data.forEach(function (t) {
          if (t.id == $("#device_id").val())
            t.selected = true;
        });
        $('#device').select2({
          data: device_data
        });
      }
    });

    $("#subsys").on("change", function (e) {
      $.ajax({
        url: 'getDevice',
        type: 'GET',
        dataType: 'json',
        data: {
          _satid: $("#_satid").val(),
          _subsysid: $("#subsys").val()
        },
        async: false,
        error: function (request) {
          alert("Connection error");
        },
        success: function (data) {
          var device_data = data.data;
          device_data.forEach(function (t) {
            if (t.id == $("#device_id").val())
              t.selected = true;
          });
          $('#device').empty();
          $('#device').select2({
            data: device_data
          });
        }
      });
    });
    
  });
</script>

{% include "manager/footer.html" %}